<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    
   
    <img src="https://www.clarin.com/img/2019/10/23/k3wZsQS2_1256x620__2.jpg#1576856019602">
     <a href="../img/vino en latas.jpg" width="500" height="300" alt="vinosvarios"></a> 
    <h1 class="colordarkslategray">Crece el vino en lata </h1>
    <h2>ya hay 17 bodegas que usan ese formato que apunta a los más jóvenes</h2>
    <p class="colordarkslategray">El consumo de esos envases crece año a año</p>

    <div h1 class="colorsteelblue">Tras un 2020 inesperadamente positivo, las ventas de vino en el mercado interno se desplomaron en 2021. Sin embargo, la industria logró mejorar sus números en dos envases poco usuales: la lata y el bag in box.</h1> </div>
 <p1 class="colorsteelblue">En ambos casos los porcentajes de participación son mínimos -entre los dos suman 0,6% del total- pero el ritmo de crecimiento es muy alto. Se trata de envases nuevos, principalmente la lata, que han sido bien aceptados por el público joven.</p1>
 <p id="colorverde">Según estadísticas del Instituto Nacional de Vitivinicultura (INV), en 2021 se consumieron dentro del país 2.539.000 litros de vino en lata, contra 1.465.900 de 2020, lo que dejó como resultado un crecimiento del 73,2%. En tanto, el Bag in Box pasó de 2.153.500 litros en 2020 a 2.572.300 litros el año pasado (19,4% de mejora).</p2>
 <p>En conjunto, las agencias espaciales de Estados Unidos (NASA) y Canadá (CSA) develaron los nombres de una mujer y tres hombres que integrarán la misión Artemis II que dará una vuelta a la Luna, sin descender en ella, para probar todos los sistemas, cápsula y cohete nuevo, a fin de poder sí pisar nuestro satélite natural en 2025</p>
 <p id="colorazul">Martín Hinojosa, presidente del Instituto Nacional de Vitivinicultura, reconoció que la participación del vino en lata es aún muy baja, pero aseguró que el potencial del segmento es enorme. “Hoy tenemos 17 bodegas que están fraccionando latas y hay dos más que están en proceso de inscripción. Además se vendieron 2,5 millones de litros en 2021 y cuando empezamos (año 2019) solo se fraccionaron 140 mil litros en ese envase”, declaró.</p>
 <p>El presidente del organismo explicó que hay faltante de aluminio barnizado. “Podríamos crecer mucho más, pero deberíamos hacer una inversión en una hojalatera, que no es menor”, cerró.</p>
    
    

    <a href="../../index.html"></a>

</body>
</html>

